<% content_for :feed_unread_count do %>
  (<%= @unread_count %>)
<% end %>

<% f = File.new("#{Rails.root}/vendor/weread.css") %>
<% content = f.read %>
<%= raw(content) %>

<script>
    var user_id =  <%= current_user.id %>

    <% present('RssFeedPresenter', user_id: current_user) do |rss| %>
    var rss_list_json = <%= raw(rss.rss_feed.to_json) %>
    <% end %>

    <% present('RssPresenter', user_id: current_user.id) do |rss| %>
    var all_rss_list_json = <%= raw(rss.rss.to_json) %>
    <% end %>

    var current_article = <%= raw(@rss_feeds_list.first.to_json) %>

    var font_list = <%= raw @font_list %>

    var unread_count_rss_feeds_path = '<%= unread_count_rss_feeds_path %>'

    var favicon=new Favico({
      animation:'slide'
    });
</script>

<%= javascript_pack_tag 'web_app' %>

<div id="tianluo">
  <app></app>
</div>