<div id="app">
  <a-row>
    <a-col :md="4"></a-col>

    <a-col :sm="24" :md="16">
      <div class="banner" style="font-size: 16px">
        <%= link_to '< 返回首页', root_path %>
      </div>

      <a-tabs type="card">
        <a-tab-pane key="1">
          <span slot="tab">
            RSS订阅列表
            <a-tag color="#FADB14">{{rss_running_missions}}</a-tag>
          </span>
          <all-rss-list></all-rss-list>
        </a-tab-pane>
        <a-tab-pane key="2">
          <span slot="tab">
            监控店铺列表
            <a-tag color="#FADB14">{{good_running_missions}}</a-tag>
          </span>
          <all-good-list></all-good-list>
        </a-tab-pane>

        <a-button type="primary" slot="tabBarExtraContent" @click="show_add_dialog">
          <i class="fa fa-plus"></i>&nbsp;添加监控/订阅
        </a-button>
    </a-col>

    <add-dialog v-bind:dialog_visible="dialog_visible" v-on:close-dialog="dialog_visible = false"></add-dialog>
  </a-row>
</div>

<script>
    <%= render 'home/all/rss_list/all_rss_list.vue.js' %>
    <%= render 'home/all/good_list/all_good_list.vue.js' %>
    <%= render "home/new/add_dialog.vue.js" %>


    var app = new Vue({
        el: '#app',
        data: {
            dialog_visible: false,
            rss_running_missions: <%= @running_rss_jobs_count %>,
            good_running_missions: <%= @running_goods_jobs_count %>,
        },
        methods: {
            show_add_dialog: function () {
                // 需要先置为 false，再设置为 true 才能再次显示添加的对话框
                this.dialog_visible = false;
                this.dialog_visible = true;
            },
        }
    })
</script>