<a-drawer
  placement="right"
  :closable="true"
  :visible="visible"
  @close="onClose"
  width="90%"
>
  <!--        左侧商品列表-->
  <div class="good-list-group">
    <ul class="list-group">
      <template v-for="good in goods_data">
        <li class="list-group-item list-group-item-card"
            data-good-id="good.id"
            v-bind:class="{active: (current_good == good)}"
            v-on:click="change_good(good)">
          <div>
            <div class="img-box">
              <img v-bind:src="good.goods_images[0]"/>
            </div>
            <div class="description">
              <div>{{good.name}}</div>
              <div>{{good.spu_id}}</div>
            </div>
          </div>
        </li>
      </template>
    </ul>
  </div>

  <!--   右侧商品详情信息-->
  <div class="good-detail">
    <!--   商品基本信息-->
    <div class="good-detail-info">
      <%= import_partial('home/shop_spy/details/content/shop_info') %>
    </div>

    <!--   商品扩展信息-->
    <div class="good-detail-extro">
      <a-spin :spinning="spinning" tip="Loading...">
        <div class="spin-content">
          <a-tabs default-active-key="1" size="small" @change="change_good_detail_tab">
            <a-tab-pane key="1" tab="标题变动">
              <%= import_partial('home/shop_spy/details/content/title_change') %>
            </a-tab-pane>

            <a-tab-pane key="2" tab="标语变动">
              <%= import_partial('home/shop_spy/details/content/ad_change') %>
            </a-tab-pane>

            <a-tab-pane key="3" tab="价格变动">
              <%= import_partial('home/shop_spy/details/content/price_change') %>
            </a-tab-pane>

            <a-tab-pane key="4" tab="促销变动">
              <%= import_partial('home/shop_spy/details/content/coupons_change') %>
            </a-tab-pane>

            <a-tab-pane key="5" tab="评论数变动">
              <%= import_partial('home/shop_spy/details/content/comments_num_change') %>
            </a-tab-pane>
          </a-tabs>
        </div>
      </a-spin>
    </div>
  </div>

</a-drawer>